.git
.gitattributes
*.sln
*.vs
*.csproj
*.config
VirtualMachine/Debug
VirtualMachine/x64
*.filters
*.vcxproj
*.user
Environment/Compiler/Compiler/obj
Environment/Compiler/Compiler/bin
SqlProc/SqlProc/bin
SqlProc/SqlProc/obj
*.dbmdl
*.jfm
*.sqlproj
Environment/Debugger/Debugger/log.log
*.docx
*.png
*.jpeg
.vscode
*.tmp
Документация/
*.exe*
*.iobj
*.pdb
*.ipdb
x64/Debug/
x64/Release/
Environment/Debugger/Debugger/x64/
Environment/Debugger/x64/Debug/
*.ilk
Environment/Compiler/Lib/Lib/obj
Environment/Compiler/Lib/Lib/bin
Environment/Compiler/Lib/Lib/Properties
Environment/Compiler/SqlCompiler/SqlCompiler/bin
Environment/Compiler/SqlCompiler/SqlCompiler/obj