.git
.gitattributes
*.sln
*.vs
*.csproj
*.config
VirtualMachine/Debug
VirtualMachine/x64
*.filters
*.vcxproj
*.user
Environment/Compiler/Compiler/obj
CLRVM/CLRVM/bin
CLRVM/CLRVM/obj
Environment/Debugger/Debugger/log.log
*.docx
*.png
*.jpeg
.vscode
*.tmp
Документация/
*.exe*
*.iobj
*.pdb
*.ipdb
x64/Debug/
x64/Release/
Environment/Debugger/Debugger/x64/
Environment/Debugger/x64/Debug/
*.ilk